* {
    margin: 0;
    padding: 0;
    font-family: "Saira", sans-serif;
}

body {
    background-color: #F9FAFB;
    color: #ffffff;
    overflow: hidden;
}

/* Nav-bar */

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.5em;
    background-color: #0F172A;

}

.nav-container h2 {
    font-size: 1.75rem;
    margin: 0 1rem 0 0.75rem;
    letter-spacing: 1px;
}


.nav-content {
    font-size: 0.95rem; 
} 

.nav-content a {
    color: #FFF;
    text-decoration: none;
    opacity: 0.7;
    margin: 0.5rem 1.5rem 0 1rem;
}

.nav-content a:hover {
    opacity: 1;
}

.search-box {
    width: 25em;
    height: 2.25em;
    font-size: 0.95rem;
    padding-left: 0.75rem;
    border-radius: 5px;
    border: none;   
    margin-left: 15rem; 
    margin-right: 1.25rem;
    transition: all 0.2s ease;
}

.btn-search {
    background: transparent;
    color: white;
    font-size: 0.95rem;
    font-weight: 600;
    width: 6em;
    height: 2.25em;
    margin-right: 4rem;
    border: 1px solid white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.btn-search:hover {
    background-color: white;
    color: black;
}

.cart i {
    font-size: 1.25rem;
    margin: 0.25rem 1rem 0 2rem;
}

.cart .fa-bars {
    font-size: 1.75rem;
    transition: all 0.3s ease;
}

.cart .fa-bars:hover {
    transform: scale(1.1) rotate(180deg);
}

/* Tranding page*/

/* .trand-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25em;
    background-color: orange;
}

.trand-items i {
    font-size: 2rem;
} */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll;
    /* margin: 1rem 1rem; */
}

.card {
    width: 17em;
    height: 22em;
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    margin: 1.5rem 1.21rem 2rem 1rem;
    transition: all 0.4s ease;
}

.card:hover {
     box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
     transform: translateY(-2px) scale(1.01);
}
