* {
    margin: 0;
    padding: 0;
    background-color: #F8FAFC;
}
/* 
nav {
    display: inline;
    width: 100%;
    height: 4em;
    background-color: #2563EB;
    border-radius: 0 0 5px 5px;
}

.nav-container h2 {
    display: inline-block;

}

.nav-search {
     display: inline; 
    display: flex;
    justify-content: flex-end ;
    align-items: center;
}

.nav-search .search-box {
    height: 2rem;
    width: 15rem;
    border-radius: 0.5rem;
    font-size: 0.90rem;
    font-weight: 600;
    padding: 0 0 0 10px;
}

.nav-search .btn-search {
    height: 2rem;
    width: 5rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0 1rem;
    color: orange;
    font-size: 0.95rem;
    font-weight: 700;
    transition: all 0.3s ease;
}

.nav-search .btn-search:hover {
    background: linear-gradient(to left ,orange, red );
    color: #0F172A;

}


footer {
    width: 100%;
    height: 25em;
    background-color: #1E40AF;
    position: relative;
}

footer h2 {
    display: inline-block;
} */